In [27]:
import pandas as pd
from market_state_jimmy_test import MarketState

# First just get 1 year's worth of data for both coins. We will use some beginning portion of the data to initialize our info in MarketState

In [28]:
# Loading the api keys from your local .env file
import os
from dotenv import load_dotenv, find_dotenv

load_dotenv(find_dotenv())

binance_api_key = os.getenv('binanceAPIKey')
binance_secret_key = os.getenv('binanceSecretKey')

In [29]:
from binance.client import Client
client = Client(binance_api_key, 
                binance_secret_key,
                tld='us')

In [30]:
coin_1 = "FORTHUSD"
coin_2 = "ZENUSD"

In [31]:
def get_data(coin, kline_interval, start, end):
    klines = client.get_historical_klines(coin, kline_interval, start, end)
    coin_df = pd.DataFrame(klines, columns = ['timestamp', 'open', 'high', 'low', 'close', 
                                            'volume', 'close_time', 'quote_av', 'trades', 
                                            'tb_base_av', 'tb_quote_av', 'ignore' ])
    coin_df['timestamp'] = pd.to_datetime(coin_df['timestamp'], unit='ms')
    coin_df.set_index('timestamp', inplace=True)
    coin_df['close'] = coin_df['close'].astype(float)
    return coin_df

In [32]:
coin_1_df = get_data("FORTHUSD", Client.KLINE_INTERVAL_1DAY, "1 Oct, 2022", "1 Oct, 2023")
coin_1_df

,open,high,low,close,volume,close_time,quote_av,trades,tb_base_av,tb_quote_av,ignore
timestamp,,,,,,,,,,,
2022-10-01,4.6900,4.8900,4.6600,4.720,1493.11000000,1664668799999,7123.8657,43,665.70000000,3223.5903,0
2022-10-02,4.7300,4.7300,4.6100,4.610,385.38000000,1664755199999,1777.8218,15,16.91000000,79.0032,0
2022-10-03,4.6000,4.7000,4.6000,4.700,154.28000000,1664841599999,720.6714,10,45.16000000,209.8125,0
2022-10-04,4.6800,4.8900,4.6600,4.760,1736.41000000,1664927999999,8317.2410,61,1031.29000000,4936.6399,0
2022-10-05,4.7100,4.7600,4.7000,4.760,353.12000000,1665014399999,1671.2635,13,317.57000000,1502.9979,0
...,...,...,...,...,...,...,...,...,...,...,...
2023-06-23,2.22700000,2.22700000,2.22500000,2.225,24.44000000,1687564799999,54.40436000,5,0.00000000,0.00000000,0
2023-06-24,2.22500000,2.22500000,2.22500000,2.225,0.00000000,1687651199999,0.00000000,0,0.00000000,0.00000000,0
2023-06-25,2.22500000,2.22500000,2.22500000,2.225,0.00000000,1687737599999,0.00000000,0,0.00000000,0.00000000,0
2023-06-26,2.22500000,2.22500000,2.22500000,2.225,0.00000000,1687823999999,0.00000000,0,0.00000000,0.00000000,0
2023-06-27,2.22500000,2.22500000,2.22500000,2.225,0.00000000,1687834799999,0.00000000,0,0.00000000,0.00000000,0

In [33]:
coin_2_df = get_data("ZENUSD", Client.KLINE_INTERVAL_1DAY, "1 Oct, 2022", "1 Oct, 2023")
coin_2_df

,open,high,low,close,volume,close_time,quote_av,trades,tb_base_av,tb_quote_av,ignore
timestamp,,,,,,,,,,,
2022-10-01,14.1490,14.1730,13.7760,13.942,554.54600000,1664668799999,7706.9278,57,85.92600000,1200.6065,0
2022-10-02,13.9130,13.9130,13.4360,13.473,470.64400000,1664755199999,6415.9302,68,201.97300000,2760.1971,0
2022-10-03,13.4730,14.0920,13.3060,14.047,252.79700000,1664841599999,3490.4037,63,116.92400000,1615.9087,0
2022-10-04,14.0810,14.5350,14.0000,14.326,1155.23300000,1664927999999,16501.8029,108,502.82800000,7199.7539,0
2022-10-05,14.2600,14.2650,13.7220,13.962,1673.40400000,1665014399999,23357.3717,105,609.67500000,8533.1574,0
...,...,...,...,...,...,...,...,...,...,...,...
2023-06-23,6.60000000,6.99000000,5.85000000,6.770,36.23000000,1687564799999,238.61440000,18,26.68000000,180.27040000,0
2023-06-24,6.74000000,6.88000000,6.60000000,6.870,7.54000000,1687651199999,51.45300000,9,4.91000000,33.68040000,0
2023-06-25,7.00000000,7.42000000,6.52000000,6.520,437.31000000,1687737599999,3103.23440000,314,317.82000000,2250.35120000,0
2023-06-26,6.60000000,7.38000000,6.60000000,6.950,331.87000000,1687823999999,2311.42870000,698,132.11000000,919.68040000,0
2023-06-27,6.95000000,6.95000000,6.95000000,6.950,0.00000000,1687834799999,0.00000000,0,0.00000000,0.00000000,0

# Let's just say that we use first 30 days to initialize our MarketState object

In [34]:
coin_1_df_start = coin_1_df[:30].copy()
print(len(coin_1_df_start))
coin_1_df_start.head()

30

,open,high,low,close,volume,close_time,quote_av,trades,tb_base_av,tb_quote_av,ignore
timestamp,,,,,,,,,,,
2022-10-01,4.6900,4.8900,4.6600,4.72,1493.11000000,1664668799999,7123.8657,43,665.70000000,3223.5903,0
2022-10-02,4.7300,4.7300,4.6100,4.61,385.38000000,1664755199999,1777.8218,15,16.91000000,79.0032,0
2022-10-03,4.6000,4.7000,4.6000,4.70,154.28000000,1664841599999,720.6714,10,45.16000000,209.8125,0
2022-10-04,4.6800,4.8900,4.6600,4.76,1736.41000000,1664927999999,8317.2410,61,1031.29000000,4936.6399,0
2022-10-05,4.7100,4.7600,4.7000,4.76,353.12000000,1665014399999,1671.2635,13,317.57000000,1502.9979,0

In [35]:
coin_2_df_start = coin_2_df[:30].copy()
print(len(coin_2_df_start))
coin_2_df_start.head()

30

,open,high,low,close,volume,close_time,quote_av,trades,tb_base_av,tb_quote_av,ignore
timestamp,,,,,,,,,,,
2022-10-01,14.1490,14.1730,13.7760,13.942,554.54600000,1664668799999,7706.9278,57,85.92600000,1200.6065,0
2022-10-02,13.9130,13.9130,13.4360,13.473,470.64400000,1664755199999,6415.9302,68,201.97300000,2760.1971,0
2022-10-03,13.4730,14.0920,13.3060,14.047,252.79700000,1664841599999,3490.4037,63,116.92400000,1615.9087,0
2022-10-04,14.0810,14.5350,14.0000,14.326,1155.23300000,1664927999999,16501.8029,108,502.82800000,7199.7539,0
2022-10-05,14.2600,14.2650,13.7220,13.962,1673.40400000,1665014399999,23357.3717,105,609.67500000,8533.1574,0

In [36]:
coin_1_df_rest = coin_1_df[30:].copy()
print(len(coin_1_df_rest))
coin_1_df_rest.head()

240

,open,high,low,close,volume,close_time,quote_av,trades,tb_base_av,tb_quote_av,ignore
timestamp,,,,,,,,,,,
2022-10-31,4.1400,4.2400,4.1300,4.19,712.88000000,1667260799999,2980.3210,17,262.84000000,1098.7645,0
2022-11-01,4.2300,4.3300,4.2200,4.23,408.80000000,1667347199999,1742.0883,17,229.31000000,973.1275,0
2022-11-02,4.2200,4.2200,4.0300,4.03,404.22000000,1667433599999,1639.7846,17,300.37000000,1220.2914,0
2022-11-03,4.0300,4.1500,4.0300,4.07,182.79000000,1667519999999,746.3513,14,175.54000000,716.8801,0
2022-11-04,4.1400,4.2400,4.1300,4.22,257.31000000,1667606399999,1071.2065,15,75.05000000,313.2758,0

In [37]:
coin_2_df_rest = coin_2_df[30:].copy()
print(len(coin_2_df_rest))
coin_2_df_rest.head()

240

,open,high,low,close,volume,close_time,quote_av,trades,tb_base_av,tb_quote_av,ignore
timestamp,,,,,,,,,,,
2022-10-31,13.6450,13.7530,13.2140,13.478,441.90700000,1667260799999,5950.3696,57,281.48100000,3793.3595,0
2022-11-01,13.5540,13.6000,13.0570,13.057,254.30200000,1667347199999,3397.9257,53,79.28300000,1067.0913,0
2022-11-02,13.0410,13.1940,12.5010,12.758,1287.28900000,1667433599999,16431.0738,139,773.83300000,9863.5453,0
2022-11-03,12.7380,13.7660,12.7380,13.237,1181.17300000,1667519999999,15852.8375,112,697.40700000,9350.1196,0
2022-11-04,13.3730,14.3890,13.3370,14.303,1523.70700000,1667606399999,21151.7465,189,839.37200000,11707.2488,0

# Now try using MarketState

In [38]:
market_state = MarketState(client, window_size=30, kline_interval=Client.KLINE_INTERVAL_1DAY)

In [39]:
# First need to fill the window
coin_1_df_start_prices = list(coin_1_df_start['close'])
coin_2_df_start_prices = list(coin_2_df_start['close'])

market_state.__fill_window(("FORTHUSD", "ZENUSD"), 30, coin_1_df_start_prices, coin_2_df_start_prices)

AttributeError: 'MarketState' object has no attribute '__fill_window'

In [ ]:
market_state.__fill_window()

AttributeError: 'MarketState' object has no attribute 'fill_window'

# Trying running runner here

In [ ]:
'''
MarketState
track_spread_portfolio
    __fill_window
        get_data
        set some member vars
update
    __fetch_prices
    __update_all_windows
'''

In [44]:
from binance import Client, ThreadedWebsocketManager, ThreadedDepthCacheManager
from market_state_basic_test import MarketState
from execution_basic_test import Execution
from exchange_setup import establish_connection

def main():
    # TODO: add optional parameters for coins to trade on
    pairs_to_trade = [("ETHBTC", "BNBBTC"), ("DOGEBTC", "BTCUSDT")] # change this
    client = establish_connection()
    print(client.get_exchange_info())

    updates_to_coin_pairs = None # integration tester should update this variable somehow (use async or define API?)
    state = MarketState(client)

    for p in pairs_to_trade:
        state.track_spread_portfolio(p)

    executor = Execution(...)

    while True:
        # Listen for updates to coin list to trade
        updates_to_coin_pairs = ... # check for updates from user or cointegration tester
        if updates_to_coin_pairs is not None:
             for p in updates_to_coin_pairs:
                # start tracking or stop tracking pairs as specified
                if p == ... :
                    pairs_to_trade.append(p)
                    state.track_spread_portfolio(p)
                elif p == ...:
                    pairs_to_trade.remove(p)
                    state.untrack_spread_portfolio(p)

        state.update() # might need to put his before list of pairs to update (for MarketState calculation purposes)

        for p in pairs_to_trade:
            portfolio_info = (state.current_price(), ..., ...)
            action, result = executor.main(*portfolio_info)
            print(f"Time: {state.current_time}; Pair: {..., ...}; Beta: {...}; Action: {action}; Result: {result}")


if __name__ == '__main__':
    main()

AssertionError: